@charset "utf-8";

/* Menu chính */
.menu div {
  width: 150px;
  height: 32px;
  background: -webkit-linear-gradient(top, #333, #999, #000) repeat-x;
  background: -o-linear-gradient(top, #333, #999, #000) repeat-x;
  background: -ms-linear-gradient(top, #333, #999, #000) repeat-x;
  background: -moz-linear-gradient(top, #333, #999, #000) repeat-x;
  background: linear-gradient(to bottom, #333, #999, #000) repeat-x;
  border-radius: 20px 20px 0px 0px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  text-transform: uppercase;
}

/* Danh sách menu */
.menu ul {
  list-style: inside url(../bullet.png);
  box-shadow: 5px 5px 10px #000;
  border: 1px solid #000;
  width: 148px;
  margin: 0px;
  padding: 0px;
}

/* Các mục trong menu */
.menu li {
  padding: 5px;
  width: 138px;
  cursor: pointer;
  text-transform: capitalize;
}

/* Hiệu ứng hover */
.menu li:hover {
  background-color: #ff9;
  font-weight: bold;
  color: #f00;
}